<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="rootFolder" value="C:\Users\Luca Mori\Desktop\riboni"></add>
    <add key ="mysqlConnector" value="SERVER=localhost;DATABASE=riboni;UID=root;PASSWORD=0000;"/>-->
    <add key="rootFolder" value="C:\Users\Mazzoni LB\Desktop\Riboni\Logs"></add>
    <add key ="mysqlConnector" value="SERVER=95.110.234.132;DATABASE=segatrice;UID=seg18;PASSWORD=9V4_8lsb;"/>
  </appSettings>
</configuration>